name: My build action requiring more space
on:
  push:
    branches: ["master"]

jobs:
  build:
    name: Build my artifact
    runs-on: ubuntu-latest
    steps:
      - name: Build
        run: |
          echo "Free space:"
          df -h
      - name: Maximize build space
        uses: easimon/maximize-build-space@master
        with:
          root-reserve-mb: 40512
          swap-size-mb: 1024
          remove-dotnet: "true"
      - name: Checkout
        uses: actions/checkout@v3

      - name: Build
        run: |
          echo "Free space:"
          df -h
