name: "Production environment"
on:
  workflow_dispatch:

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Github checkout
        uses: actions/checkout@v4

      - name: Docker Login
        uses: docker/login-action@v3
        with:
          - username: ${{ secrets.DOCKER_USERNAME }}
          - password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Docker Build and Push
        run: |
          sudo chmod +x ./set_env.sh
          ./set_env.sh
          docker compose build
          docker compose push
